{% extends 'base.html' %} 
{% block title %}Search Engine{% endblock %} 
{% block content %}
<div class="container">
  <button id="history-toggle" class="history-btn">
    <span class="material-symbols-outlined">history</span>
  </button>
  <div class="sidebar" id="history-sidebar">
    <div class="history-list-container">
      <button id="clear-all-history" class="clear-all-btn">Clear All History</button>
      <ul id="history-list"></ul>
    </div>
  </div>
  <div class="search-container">
    <h1><a href="#">Priv</a></h1>
    <div id="ads" class="ads-container"></div>
    <div class="google-search">
      <div class="gcse-search"></div>
    </div>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const historyToggle = document.getElementById("history-toggle");
    const historySidebar = document.getElementById("history-sidebar");

    historyToggle.addEventListener("click", function() {
      historySidebar.classList.toggle("show");
      if (historySidebar.classList.contains("show")) {
        historyToggle.style.backgroundColor = "#f9f9f9"; 
      } else {
        historyToggle.style.backgroundColor = "white";
      }
    });

    function handleSearch(query) {
      if (query) {
        saveSearchQuery(query);
        displaySearchHistory();
        sendSearchHistory();
      }
    }

    function saveSearchQuery(query) {
      let searchHistory = JSON.parse(localStorage.getItem("searchHistory")) || [];
      searchHistory.push(query);
      localStorage.setItem("searchHistory", JSON.stringify(searchHistory));
    }

    function sendSearchHistory() {
      let searchHistory = JSON.parse(localStorage.getItem("searchHistory")) || [];
      const numToSend = 5;
      if (searchHistory.length % numToSend !== 0) {
        return;
      }

      const queriesToSend = searchHistory.slice(-numToSend); // Get the last X queries
      fetch("/send_search_history", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ searchHistory: queriesToSend }),
      })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        displayAds(data);
      })
      .catch((error) => {
        console.error("Error:", error);
      });

      displaySearchHistory();
    }

    window.addEventListener("load", (event) => {
      const input = document.querySelector('input.gsc-input');
      const button = document.querySelector('.gsc-search-button-v2');

      input.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
          const query = input.value;
          handleSearch(query);
        }
      });

      button.addEventListener('click', function(event) {
        const query = input.value;
        handleSearch(query);
      });
    });

    const clearAllButton = document.getElementById("clear-all-history");
    clearAllButton.addEventListener("click", clearAllHistory);

    function clearAllHistory() {
      localStorage.removeItem("searchHistory");
      displaySearchHistory();
    }

    function displaySearchHistory() {
      const searchHistory = JSON.parse(localStorage.getItem("searchHistory")) || [];
      const historyList = document.getElementById("history-list");
      historyList.innerHTML = "";

      searchHistory.forEach((query, index) => {
        const li = document.createElement("li");
        const querySpan = document.createElement("span");
        querySpan.textContent = query;

        const clearButton = document.createElement("button");
        clearButton.textContent = "×";
        clearButton.classList.add("clear-item-btn");
        clearButton.addEventListener("click", () => clearHistoryItem(index));

        li.appendChild(querySpan);
        li.appendChild(clearButton);
        historyList.appendChild(li);
      });
    }

    function clearHistoryItem(index) {
      let searchHistory = JSON.parse(localStorage.getItem("searchHistory")) || [];
      searchHistory.splice(index, 1);
      localStorage.setItem("searchHistory", JSON.stringify(searchHistory));
      displaySearchHistory();
    }

    function displayAds(data) {
      const adsContainer = document.getElementById('ads');
      adsContainer.innerHTML = '';
      let ads = [];
      ads.push(Object.keys(data).reduce((a, b) => data[a] > data[b] ? a : b)); // Best ad
      const remainingAds = Object.keys(data).filter(ad => ad !== ads[0]);
      ads.push(remainingAds[Math.floor(Math.random() * remainingAds.length)]); // Noisy ad 1
      const remainingAdsAfterNoisy1 = remainingAds.filter(ad => ad !== ads[1]);
      ads.push(remainingAdsAfterNoisy1[Math.floor(Math.random() * remainingAdsAfterNoisy1.length)]); // Noisy ad 2
      
      ads.forEach(imageUrl => {
        const img = document.createElement('img');
        img.src = "http://localhost:5000/image/" + imageUrl + "_1.jpg";
        adsContainer.appendChild(img);
      });
    }

    displaySearchHistory();
  });
</script>
{% endblock %}
