/* Basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
}

.search-container a {
  text-decoration: none;
  color: #4285f4;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  color: #4285f4;
}


.history-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color: black;
  padding: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  transition: background-color 0.2s ease;
  background-color: white;
}

.history-btn .material-symbols-outlined {
  font-size: 24px; 
}

.sidebar {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 999; 
  display: flex;
  flex-direction: column;
}

.history-list-container {
  overflow-y: auto;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding-top: 10px;
}

.sidebar.show {
  left: 0;
}

#history-list {
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
} 

#history-list li {
  padding: 8px 16px; 
  font-size: 14px; 
  border-bottom: 1px solid #ddd;
}

#history-list li:hover {
  background-color: #f1f1f1;
}

#history-list li + li {
  padding-top: 2px;
}

.clear-all-btn, .clear-item-btn {
  color: #555; /* More subtle color */
  background-color: #f0f0f0; /* Subtle background color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.clear-all-btn:hover, .clear-item-btn:hover {
  color: #333; /* Slightly darker on hover */
  background-color: #e0e0e0; /* Slightly darker background on hover */
}

.clear-all-btn {
  margin: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.clear-item-btn {
  margin-left: 10px;
  padding: 2px 6px;
  font-size: 12px;
}

#history-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}


.google-search {
  width: 100%;
  max-width: 2000px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.gcse-search input.gsc-input:focus {
  box-shadow: 0 0 10px rgba(66, 133, 244, 0.3);
}


.gcse-search button.gsc-search-button {
  display: none;
}

.google-search .gsc-search-box {
  width: 100%;
  min-width: 700px;
  max-width: 1000px;
}


.gsc-results-wrapper-visible {
  width: 100%;
  max-width: 1500px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.gsc-result {
  padding: 20px; 
  border-bottom: 1px solid #dfe1e5;
}

.gsc-result:last-child {
  border-bottom: none;
}


.gsc-title {
  color: #1a0dab;
  font-size: 1.5rem; 
}


.gsc-snippet {
  color: #4d5156;
  font-size: 1.2rem; 
}


.gsc-url {
  color: #006621;
  font-size: 1rem; 
}

